.row {
  line-height: 0;
}

.cell {
  display: inline-block;
  margin: 1px;
}

.cell_content {
  background-color: #BB0000;
  
  height: 100px;
  width: 100px;
  
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  
  font-size: 22pt;
  color: white;
}
