body {
  font-family: 'Inconsolata', serif;
/*  font-size: 48px;*/
}

.row {
  line-height: 0;
}

.cell {
  display: inline-block;
  margin: 1px;
  cursor: pointer;
}

.cell_content {
  background-color: #CCCCCC;
  
  height: 100px;
  width: 100px;
  
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  
  font-size: 32pt;
  color: white;
}

.cell_content_block {
  background-color: #DD0000;
}

.button {
  background-color: #111111;
  
  height: 80px;
  width: 80px;
  
  color: white;
}

.h-center {
  text-align: center;
}
